name: Terraform Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:


permissions:
  id-token: write
  contents: write

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::431477717595:role/github-oidc-terraform-role
          role-session-name: github-terraform-session
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform-access-analyzer
        run: terraform init

      - name: Terraform Format
        working-directory: terraform-access-analyzer
        run: terraform fmt -recursive

      - name: Terraform Validate
        working-directory: terraform-access-analyzer
        run: terraform validate

      - name: Terraform Plan
        working-directory: terraform-access-analyzer
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: terraform-access-analyzer
        run: terraform apply -auto-approve
